<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-primary">
  <a href="#" class="navbar-brand">Angular with bootstrap demo</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="container my-5 text-center">
  <h1>
    A heading aligned to center
  </h1>
  <p class="text-muted">This text is muted using <code>text-muted</code> class</p>
  <div class="card my-4 text-left">
    <h6>This table is taken from bootstrap official website</h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-left my-4">
    <div class="col-sm-6">
      <h6 class="text-uppercase text-success">Working</h6>
      <ul>
        <li>Navbar (Ex: Header)</li>
        <li>Grids (Ex: This container)</li>
        <li>Forms (Ex: Search form in header)</li>
        <li>Utility Classes (Ex: Muted text caption, text alignments)</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h6 class="text-uppercase text-danger">Not working</h6>
      <ul>
        <li>Cards (Ex: Table container)</li>
        <li>Table (Ex: Above table)</li>
        <li>and rest everything commented...</li>
      </ul>
    </div>
  </div>
  <div>
    Demo added by <a href="https://masoomulhaq.com">Masoom Ul haq S</a>
  </div>
</div>